h2{
    font-size: 1.7vw;
}
.creators-par{
    margin-top: 8%;
    margin-left: 5%;
}
.creators-par h1,h2,p{
    margin-bottom: 0.8vw;
}
.creators-par h1{
    font-size:2vw;
}
.creators-par h2{
    font-size: 1.5vw;
}
.img-view h2{
    text-align: center;
    margin:auto;
    margin-top: 10px;
}
.img-view p{
    text-align: center;
    margin: auto;
    width: 90%;
}
.img-view img{
    width:26vw;
    height: 26vw;
    border-radius: 50%;
    margin: 0 2vw;
    padding: 4px;
    object-fit: cover;
    box-shadow: 5px 5px 15px grey;
}
.img-view{
    margin-bottom:0;
    padding-top: 15px;
    min-height: 37vw;
}