.main-exp{
    margin-bottom: 40px;
    position: relative;
}
nav .search-bar{
    width: 200px;
}
.search-bar input{
    background-color: white;
    border: none;
    color: white;
}
nav .search-bar input{
    width: 50%;
    transition: width 1s ease;
    padding: 5px;
    border-radius: 50px;
}
.search-bar input[type=text]:focus{
    width: 92%;
    background-color: rgb(218, 218, 218);
}
.exp-links{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 30px;
}
.exp-links li{
    padding: 3px;
    border-radius: 20px;
    align-items: center;
    border: 2px solid purple;
}
.exp-links a{
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px;
    transition: color 0.8s ease;
}
.exp-links a:hover{
    color: purple;
}
.main-exp .search-bar{
    width: 850px;
}
.main-exp .search-bar input{
    width: 40%;
    transition: width 1s ease;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
}
.exp-img{
    background-image: url("./resources/Explore\ Page/Main.jpg");
    height: 670px;
    background-size: cover;
    overflow-y: hidden;
}
.columns{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.column{
    max-width: 420px;
}
.column .img-view{
    margin-bottom: 30px;
}