*{
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
.logo a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}
nav{
    min-height: 8vh;
    align-items: center;
    box-shadow: 0px 2px 15px grey;
    width: 100%;
    position: fixed;
    border-radius: 0% 0% 0% 100px;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 2.5vh;
    width: 100%;
    font-size: 1.1em;
}
.grad{
    background-image:linear-gradient(to right,rgb(67, 92, 121),rgb(146, 197, 255),rgba(255, 0, 76, 0.5));
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}
.exp-links{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    min-height: 30px;
}
.exp-links li{
    padding: 3px;
    border: 2px solid purple;
    border-radius: 20px;
}
.exp-links a{
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px;
}
.nav-links a{
    color: black;
    text-decoration: none;
    transition: color 0.8s ease;
}
.nav-links a:hover{
    color: white;
}
.first-sec{
    position: relative;
    z-index: -1;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.first-sec .main-p{
    position: absolute;
    top: 0px;
    margin: 200px;
    max-width: 500px;
}
.first-sec img{
    border-radius: 0% 0% 0% 60%;
    box-shadow: 0px 5px 15px;
    padding: 0 0 0 15px;
}
.first-sec .grad{
    background-image:linear-gradient(to top,rgb(67, 92, 121),rgb(146, 197, 255),rgba(255, 0, 76, 0.5));
}
.second-sec{
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}
.welcome{
    padding: 80px;
    border: 2px solid black;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.welcome h3{
    margin-bottom: 30px;
    text-align: center;
}
.welcome p{
    text-align: center;
}
.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px ;
}
.get-started a{
    color: black;
    text-decoration: none;
    padding: 10px;
    box-shadow: 2px 2px 5px;
    border-radius: 5px 0px 5px 0px;
}
.third-sec{
    display: flex;
    justify-content: space-around;
    min-height: 400px;
    padding: 50px;
    align-items: center;
}
.third-sec img{
    border-radius: 50%;
    box-shadow: 5px 5px 15px grey;
}
.footer{
    width: 100%;
    height: 250px;
    border: 2px solid black;
    position: relative;
}
.footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;
    margin: 10px;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer .p1{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
.footer .copyright{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}
.footer .copyright p{
    color: black;
    font-weight: bold;
}
.par h3{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2em;
}
.par p{
    font-style: oblique;
}
